body{
    /* background-color: grey; */
    margin: auto;
    padding: 0px;
    height: auto;
    background-color: #272829;
}


@font-face {
    font-family: 'firacode';
    src: url(Fira_Code/FiraCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'nexa';
    src: url(nexa/NexaText-Trial-Bold.ttf);
}

/* NAVIGASI BAR */
#judul-navbar{
    font-style: italic;
    font-size: large;
}

#navigasi-bar, a{
    font-size: large;
}

#navigasi-bar a:hover{
    font-style: unset;
    text-decoration: underline;
}

#profile{
    display: flex;
    justify-content: center;
}

#profile img{
    width: 300px;
    border-radius: 50%;

}

#text-profile{
    padding-top: 10px;
}

#text-profile h2{
    text-align: center;
    color: #D8D9DA;
}

#tentang-saya{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    color: #D8D9DA;

}

#container{
    padding-top: 90px;
}

#container-atas{
    height: 625px;
}

/* container body */
#container-body{
    margin-top: 200px;
    height: 900px;
}

#container-body h2{
    color: #D8D9DA;
    text-align: center;
}

#card{
    padding: 15px;
}

.card-body{
    background-color: #6B728E;
}

.card{
    margin-top: 10px;
}

.card-text{
    text-align: start;
}

.card-title{
    font-weight: bold;
    color: white;
    font-size: larger;
}

.btn{
    margin: 5px;
}

/* FOOTER */

#container-img-footer{
    display: flex;
    justify-content: center;
}

#container-img-footer i{
    letter-spacing: 10px;
    font-size: 30px;
    color: white;
}

#text-footer{
    color: white;
    text-align: center;
}
/* .image-profile{
    height: 800px;
}

img[alt='gambar-aing']{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: #998b70;
    margin-left: 100px;
    margin-top: 180px;
}


h2{
    font-family: 'nexa';
    margin-left: 440px;
    margin-top: -240px;
    margin-bottom: auto;
    color: white;
}

.teks{
    font-family: 'firacode';
    margin-left: 440px;
    color: white;
}

.logo{
    margin-bottom: 50px;
}

li a:hover{
    background-color: slategray;
}

.container-logo{
    background-color: #3333;
    display: flex;    
    justify-content: center;
}

.facebook{
    width: 60px;
}

a img{
    width: 50px;
    margin: 50px;

}

.contact-us{
    font-family: 'firacode';
    font-weight: bold;
    text-align: center;
    color: white;
}

.container-img-footer{
    display: flex;
    justify-content: center;
        margin-top: -50px;
}

.text-footer{
    text-align: center;
    margin: 10px;
    font-family: 'firacode';
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    transform: scale(1.2);
    
}

footer{
    background-color: slategray;
    height: 180px;
}   */

    /* @media (min-width: 375px) {


        .image-profile > img{
            width: 40%;
            height: 19%;
            margin-left: 30%;
            margin-top: 20%;

        }

        .image-profile > h2{
            margin-left: 30%;
            font-size: small;
            margin-top: 5%;
                display: inline;
        }

        .image-profile > p{
            margin-left: 5%;
            margin-right: 5%;
            font-size: small;
            margin-top: 5%;
            text-align: center;
        }   

        .container-card{
            height: 200%;
            margin: 5px;
        }

        .card{
            margin-left: 5px;
            margin-right: 5px;
            height: 10%;
            margin: 10px;
        }

        .card-body{
            height: 300px;
            width: 100%;
        }

        .card-body > .card-title{
            font-size: small;
        }

        .card-body > .card-text{
            font-size: small;
            width: 100%;
        }

        .card-body > .btn{
            width: 100%;
            font-size: small;

        }
    } */